.img {
  background-image: url('chris.jpg');/* Relative path to the image file */
  background-size: cover;
  background-size:100%;
  height: 100vh; /* This ensures that the background takes up the full height of the viewport */
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  background:pink;
  width: 90%;
  max-width: 500px;
  margin: 100px auto 0;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  position: absolute;
  top: 0%;
  left:25%;
  display: flex;
  justify-content: center;
  color: pink;
  font-size: xx-large;
  font-family:'Courier New', Courier, monospace;
}
.btn {
  display: block;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  background: whitesmoke;
  transition: 0.5s;
  cursor: pointer;
}

.btn:hover {
  background: #000;
  color: white;
}


p {
  margin-top: 15%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.next {
    width: 70px;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  display:none;
}
.container:hover {
  background:white;
  
}
.next:hover {
  color: white;
  background: black;
}

body{
  margin: 0;
  border: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  padding-left: 5px;
  padding-top: 5px;
}
